.logo {
	cursor: pointer;
}

.country-page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	max-width: 880px;
	margin: 0 auto;
	padding: 30px 0;
	color: #D2D5DA;
	background-color: #1B1D1F;
	border: 1px #282B30 solid;
	border-radius: 12px;
}

.country-flag {
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 200px;
	border-radius: 16px;
}

.country-name {
	margin-top: 150px;
}

.country-fullname {
	font-size: 16px;
	font-weight: 400;
}

.details {
	display: flex;
	gap: 50px;
	margin: 25px 0;
}

.details-info {
	display: flex;
	align-items: center;
	gap: 20px;
	background-color: #282B30;
	padding: 12px 20px;
	border-radius: 12px;
}

.country-details {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.country-info {
	display: flex;
	justify-content: space-between;
	border-top: 1px #282B30 solid;
	border-bottom: 1px #282B30 solid;
	padding: 24px 20px;
}

.area-title sup {
	font-size: 0.5em;
}

.neighbouring-countries {
	display: flex;
	flex-direction: column;
}

.neighbouring-title {
	margin-bottom: 25px;
}

.neighbour-list {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	padding: 0;
}

.neighbour-img {
	cursor: pointer;
	width: 100px;
	height: 70px;
	object-fit: cover;
	border-radius: 6px;
	margin-bottom: 5px;
}

.neighbour-name {
	text-align: center;
}





@media (max-width: 550px) {
	.country-page {
		margin-top: 30px;
		padding: 0;
	}

	.country-name {
		margin-top: 120px;
	}

	.country-flag {
		width: 250px;
		height: 130px;
		top: -25px;
	}

	.details {
		flex-direction: column;
		gap: 10px;
	}

	.details-info {
		justify-content: space-between;
	}
}

@media (max-width: 400px) {
	.country-info {
		flex-direction: column;
		align-items: center;
		gap: 10px;
		font-size: 0.9rem;
	}

	.info-title {
		font-size: 1.25rem;
	}

	.info-value span {
		font-size: 0.8rem;
	}

	.neighbour-img {
		width: 60px;
		height: 40px;
	}
}