.countries-list {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 75%;
}

.search-input {
	position: relative;
	right: 0;
	width: 350px;
	height: 40px;
	color: #D2D5DA;
	background: 6px / 26px no-repeat #282B30 url(/Search.svg);
	border: none;
	border-radius: 12px;
	margin-bottom: 15px;
	padding: 24px 12px 24px 40px;
}

.search-input::placeholder {
	color: #6C727F;
}

.search-input:focus {
	outline: 1px #6C727F solid;
}

.table {
	width: 100%;
	color: #D2D5DA;
	border-spacing: 0 20px;
	border-collapse: separate;
}

.table-title tr th {
	text-align: start;
	color: #6C727F;
	border-bottom: 3px #282B30 solid;
	padding-bottom: 15px;
}

.table-img img {
	width: 60px;
	height: 45px;
	object-fit: cover;
	border-radius: 6px;
}