.pagination-cont {
	width: 100%;
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.page-item {
	margin-bottom: 8px;
}

.page-item button {
	color: #D2D5DA;
	background-color: #282B30;
	width: 32px;
	padding: 5px 0;
	border-radius: 4px;
	text-decoration: none;
}

.page-item button:hover {
	color: #6C727F;
}

.active {
	border: 1px #4E80EE solid;
	border-radius: 4px;
}




@media (max-width: 780px) {
	.pagination {
		justify-content: center;
	}
}

@media (max-width: 400px) {
	.page-item button {
		font-size: 0.9rem;
		padding: 5px 0;
	}
}